<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="driverClassName" value="${jdbc.driver}"></property>
    </bean>

    <context:component-scan base-package="com.tt"/>

    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>

<!--        <property name="plugins">-->
<!--            <set>-->
<!--                <bean class="com.github.pagehelper.PageInterceptor">-->
<!--                    <property name="properties">-->
<!--                        <props>-->
<!--                            &lt;!&ndash; 数据库方言，可选择：oracle,mysql,mariadb 等&ndash;&gt;-->
<!--                            <prop key="helperDialect">mysql</prop>-->
<!--                            &lt;!&ndash;reasonable：分页合理化参数，默认值：false。-->
<!--                            当该参数设置为true时，pageNum<=0时会查询第一页，-->
<!--                            pageNum>pages（超过总数时），会查询最后一页&ndash;&gt;-->
<!--                            <prop key="reasonable">true</prop>-->
<!--                            &lt;!&ndash;supportMethodsArguments：-->
<!--                            是否支持通过 Mapper 接口参数来传递分页参数，默认值：false&ndash;&gt;-->
<!--                            <prop key="supportMethodsArguments">true</prop>-->
<!--                        </props>-->
<!--                    </property>-->
<!--                </bean>-->
<!--            </set>-->
<!--        </property>-->


    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qf.dao"></property>
    </bean>

</beans>